@model Referans
<form asp-action="Ekle">
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-5">
				<div class="row pb-3">
					<h2 class="text-primary">Kitap Ekle</h2>
					</hr>
				</div>
				<div class="mb-3">
					<label asp-for="kitapAdi" class="p-0">Kitap Adı</label>
					<input asp-for="kitapAdi" class="form-control" />
					<span asp-validation-for="kitapAdi" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="yazar" class="p-0">Yazar</label>
					<input asp-for="yazar" class="form-control" />
					<span asp-validation-for="yazar" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="kitapTuru" class="p-0">Kitap Türü</label>
					<input asp-for="kitapTuru" class="form-control"/>
					<span asp-validation-for="kitapTuru" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="fotopath" class="control-label"></label>
					<input asp-for="fotopath" type="file" class="form-control" />
					<span asp-validation-for="fotopath" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-lg btn-primary" style="width: 250px">Yükle</button>
				<button type="submit" class="btn btn-lg btn-primary" style="width:250px">Kitap Ekle</button>
		</div>
</form>