
<h1>@ViewData["Title"]</h1>

	<div class="text-center">
		<h3 style="text-align:center;">İletişim Bilgileri</h3>
		<br />
		<h5>E-posta adresimiz:<a href="mailto:kutuphane.iletisimgmail.com">kutuphane.iletisimgmail.com</a></h5>
		<br />
		<h5>Telefon Numaramız:0555 555 55 55</h5>
		<br />
		<h5>
			Adres: Bağdat Caddesi No:123 Kadıköy 34728 İstanbul Türkiye
		</h5>
	</div>